In [18]:
import requests
import configparser
import json
import pandas as pd

In [25]:
# Read Conf
config = configparser.ConfigParser()
config.read('conf.ini')
alphavantage_api = config['SETTINGS']['alphavantage_api']
fmp_api = config['SETTINGS']['fmp_api']

In [15]:

# Read SPY Intraday 30min from alphavantage
#url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=SPY&interval=30min&apikey=' 
#resp = requests.get(url=url+alphavantage_api)
#data = resp.json()

In [78]:
# read fata from fmp
url = 'https://financialmodelingprep.com/api/v3/historical-price-full/SPY?timeseries=1500&apikey=' 
resp = requests.get(url=url+fmp_api)
data = resp.json()
spy_hist = pd.json_normalize(data['historical'])
print(spy_hist.shape)

(1500, 13)

In [79]:
url = 'https://financialmodelingprep.com/api/v3/historical-price-full/TLT?timeseries=1500&apikey=' 
resp = requests.get(url=url+fmp_api)
data = resp.json()
tlt_hist = pd.json_normalize(data['historical'])
print(tlt_hist.shape)

(1500, 13)

In [80]:
url = 'https://financialmodelingprep.com/api/v3/historical-price-full/^VIX?timeseries=1500&apikey=' 
resp = requests.get(url=url+fmp_api)
data = resp.json()
vix_hist = pd.json_normalize(data['historical'])
print(vix_hist.shape)

(1500, 10)

In [81]:
url = 'https://financialmodelingprep.com/api/v3/historical-price-full/^VVIX?timeseries=1500&apikey=' 
resp = requests.get(url=url+fmp_api)
data = resp.json()
vvix_hist = pd.json_normalize(data['historical'])
print(vvix_hist.shape)

(1500, 10)

In [82]:
url = 'https://financialmodelingprep.com/api/v3/historical-price-full/QQQ?timeseries=1500&apikey=' 
resp = requests.get(url=url+fmp_api)
data = resp.json()
qqq_hist = pd.json_normalize(data['historical'])
print(qqq_hist.shape)

(1500, 13)

In [83]:
spy_hist = spy_hist.add_prefix('spy_')
tlt_hist = tlt_hist.add_prefix('tlt_')
vix_hist = vix_hist.add_prefix('vix_')
vvix_hist = vvix_hist.add_prefix('vvix_')
qqq_hist = qqq_hist.add_prefix('qqq_')

In [64]:
spy_hist.head()

,spy_date,spy_open,spy_high,spy_low,spy_close,spy_adjClose,spy_volume,spy_unadjustedVolume,spy_change,spy_changePercent,spy_vwap,spy_label,spy_changeOverTime
0,2022-04-08,447.97,450.63,445.94,447.57,447.57,79279143.0,79279143.0,-0.40,-0.089,448.04667,"April 08, 22",-0.00089
1,2022-04-07,445.59,450.69,443.53,448.77,448.77,78103843.0,78103843.0,3.18,0.714,447.66333,"April 07, 22",0.00714
2,2022-04-06,446.89,448.93,443.47,446.52,446.52,106899229.0,106899229.0,-0.37,-0.083,446.30667,"April 06, 22",-0.00083
3,2022-04-05,455.22,457.83,449.82,451.03,451.03,74218556.0,74218556.0,-4.19,-0.920,452.89333,"April 05, 22",-0.00920
4,2022-04-04,453.13,456.91,452.26,456.80,456.80,57925563.0,57925563.0,3.67,0.810,455.32333,"April 04, 22",0.00810

In [65]:
tlt_hist.head()

,tlt_date,tlt_open,tlt_high,tlt_low,tlt_close,tlt_adjClose,tlt_volume,tlt_unadjustedVolume,tlt_change,tlt_changePercent,tlt_vwap,tlt_label,tlt_changeOverTime
0,2022-04-08,125.45,125.83,124.26,125.12,125.12,26859944.0,26859944.0,-0.33,-0.263,125.07000,"April 08, 22",-0.00263
1,2022-04-07,126.11,126.67,125.41,126.49,126.49,23448235.0,23448235.0,0.38,0.301,126.19000,"April 07, 22",0.00301
2,2022-04-06,126.43,128.30,126.40,127.45,127.45,22950472.0,22950472.0,1.02,0.807,127.38333,"April 06, 22",0.00807
3,2022-04-05,130.76,130.78,128.29,128.49,128.49,25183954.0,25183954.0,-2.27,-1.736,129.18667,"April 05, 22",-0.01736
4,2022-04-04,131.93,131.98,130.71,131.46,131.46,13609563.0,13609563.0,-0.47,-0.356,131.38333,"April 04, 22",-0.00356

In [66]:
vix_hist.head()

,vix_date,vix_open,vix_high,vix_low,vix_close,vix_adjClose,vix_change,vix_changePercent,vix_label,vix_changeOverTime
0,2022-04-08,21.250000,22.340000,20.280001,21.160000,21.160000,-0.09,-0.424,"April 08, 22",-0.00424
1,2022-04-07,21.969999,23.820000,21.120001,21.549999,21.549999,-0.42,-1.912,"April 07, 22",-0.01912
2,2022-04-06,21.270000,24.780001,21.240000,22.100000,22.100000,0.83,3.902,"April 06, 22",0.03902
3,2022-04-05,18.790001,21.570000,18.549999,21.030001,21.030001,2.24,11.921,"April 05, 22",0.11921
4,2022-04-04,20.750000,20.780001,18.450001,18.570000,18.570000,-2.18,-10.506,"April 04, 22",-0.10506

In [84]:
df = pd.DataFrame(spy_hist['spy_date'])


df=df.rename(columns = {'spy_date':'date'})

In [85]:
df.head()

         date
0  2022-04-08
1  2022-04-07
2  2022-04-06
3  2022-04-05
4  2022-04-04

In [89]:
qqq_hist['qqq_vol_changePercent'] = qqq_hist['qqq_volume'].pct_change()

In [90]:
tmp = qqq_hist[['qqq_changePercent','qqq_vol_changePercent']]

In [91]:



df = df.merge(tmp, how='left', left_on='date', right_on='qqq_date')

KeyError: 'qqq_date'

In [86]:
qqq_hist.head()

,qqq_date,qqq_open,qqq_high,qqq_low,qqq_close,qqq_adjClose,qqq_volume,qqq_unadjustedVolume,qqq_change,qqq_changePercent,qqq_vwap,qqq_label,qqq_changeOverTime
0,2022-04-08,352.32,353.08,348.51,349.15,349.15,61613801.0,61613801.0,-3.17,-0.900,350.24667,"April 08, 22",-0.00900
1,2022-04-07,352.24,356.35,348.69,354.10,354.10,63586298.0,63586298.0,1.86,0.528,353.04667,"April 07, 22",0.00528
2,2022-04-06,355.65,356.78,350.56,353.26,353.26,89705938.0,89705938.0,-2.39,-0.672,353.53333,"April 06, 22",-0.00672
3,2022-04-05,367.81,368.54,359.93,361.10,361.10,62550296.0,62550296.0,-6.71,-1.824,363.19000,"April 05, 22",-0.01824
4,2022-04-04,362.71,369.31,362.44,369.30,369.30,45844898.0,45844898.0,6.59,1.817,367.01667,"April 04, 22",0.01817